version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    open-pull-requests-limit: 100
    ignore:
      - dependency-name: "com.nimbusds:oauth2-oidc-sdk"
    groups:
      gradle-security-updates:
        applies-to: security-updates
        update-types:
          - minor
          - patch
    target-branch: main
    commit-message:
      prefix: BAU

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    groups:
      gha-all-dependencies:
        patterns:
          - "*"
    target-branch: main
    commit-message:
      prefix: BAU

  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 5
    groups:
      pip-all-dependencies:
        patterns:
          - "*"
    target-branch: main
    commit-message:
      prefix: BAU
