[*.java]
ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 999

[*.sh]
indent_style = space
indent_size = 2
binary_next_line = true
switch_case_indent = true
space_redirects = true
