.idea/
.gradle/
build/
.gradle
build
**/.terraform/
│**/*.tfstate*
**/out
**/.classpath
**/.project
**/.settings
**/bin
.java-version
**/terraform.log
ci/terraform/**/*.plan
ci/terraform/**/*.tfstate*
logs/
.vscode/
.venv/

# Approval Tests
*.received.txt
*.received.json

# Contract Tests
pact/

# Terraform artifacts
/ci/terraform/oidc/orch-frontend/authorizer-lambda.zip
