.idea/
.gradle/
build/
.gradle
build
**/.terraform/
**/.terraform.lock.hcl
│**/*.tfstate*
**/out
**/.classpath
**/.project
**/.settings
**/bin
.java-version
**/terraform.log
ci/terraform/**/*.plan
logs/