repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v0.72.2
    hooks:
      - id: cfn-python-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: ^.*\.(json|yml|yaml)$

  - repo: https://github.com/alphagov/di-pre-commit-hooks.git
    rev: 0.0.1
    hooks:
      - id: spotless-check
      - id: terraform-format
      - id: terraform-validate
