version: '3.8'

services:
  aws:
    image: localstack/localstack:2.3.2@sha256:78c4d09852a90b158a95ac5108439a1f43e09f862739045be91cc5f431076f86
    environment:
      SERVICES: iam, ec2, sqs, s3, sts, kms, sns, ssm, cloudwatch
      GATEWAY_LISTEN: 0.0.0.0:45678
      LOCALSTACK_HOST: localhost:45678
      DEFAULT_REGION: eu-west-2
      TEST_AWS_ACCOUNT_ID: 123456789012
      DEBUG: "1"
      KMS_PROVIDER: local-kms
    extra_hosts:
      - "notify.internal:host-gateway"
      - "subscriber.internal:host-gateway"
    networks:
      - di-authentication-api-net
    ports:
      - 45678:45678

  redis:
    image: redis:6.0.5-alpine
    healthcheck:
      test: '[[ $$(redis-cli ping 2> /dev/null) == "PONG" ]] || exit 1'
      interval: 5s
      timeout: 1m
    ports:
      - 6379:6379
    networks:
      - di-authentication-api-net

  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb -optimizeDbBeforeStartup -dbPath ."
    working_dir: /home/dynamodblocal
    image: amazon/dynamodb-local:1.22.0
    healthcheck:
      test: curl http://localhost:8000
      interval: 5s
      timeout: 1m
    ports:
      - 8000:8000
    networks:
      - di-authentication-api-net

networks:
  di-authentication-api-net:
