<Configuration status="WARN">
    <Appenders>
        <Lambda name="Lambda">
            <JsonLayout compact="true" eventEol="true" objectMessageAsJsonObject="true" >
            </JsonLayout>
        </Lambda>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
        <Logger name="software.amazon.awssdk" level="WARN" />
        <Logger name="software.amazon.awssdk.request" level="DEBUG" />
    </Loggers>
</Configuration>