<Configuration status="WARN">
    <Appenders>
        <Lambda name="Lambda">
            <JsonLayout compact="true" eventEol="true" objectMessageAsJsonObject="true" >
                <KeyValuePair key="notification-id" value="$${ctx:notificationId:-unknown}"/>
                <KeyValuePair key="unique-notification-reference" value="$${ctx:uniqueNotificationReference:-unknown}"/>
                <KeyValuePair key="govuk_signin_journey_id" value="$${ctx:journeyId:-unknown}"/>
                <KeyValuePair key="trace-id" value="$${ctx:traceId:-}"/>
            </JsonLayout>
        </Lambda>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
        <Logger name="software.amazon.awssdk" level="WARN" />
        <Logger name="software.amazon.awssdk.request" level="DEBUG" />
    </Loggers>
</Configuration>
