name: Create Shared promotion artifact

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Zip shared Terraform files
        working-directory: ci/terraform
        run: zip -r shared.zip .

      - name: upload promotion_artifact_shared.zip
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: promotion_artifact_shared.zip
          path: ci/terraform/shared.zip
