name: Create 'Simple' module promotion artifact

on:
  workflow_call:
    inputs:
      module_name:
        description: "The name of the module to deploy"
        type: string
        required: true
      terraform_directory_name:
        description: "The name of the directory where the terraform for this module is stored"
        type: string
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download ${{ inputs.module_name }} code artifact
        id: download_artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        env:
          MODULE_NAME: ${{ inputs.module_name }}
          TERRAFORM_DIR: ${{ inputs.terraform_directory_name }}
        with:
          name: signed-${{ env.MODULE_NAME }}
          path: ci/terraform/${{ env.TERRAFORM_DIR }}/artifacts

      - name: Zip ${{ inputs.module_name }} Terraform files
        id: upload_object
        working-directory: ci/terraform
        env:
          TERRAFORM_DIR: ${{ inputs.terraform_directory_name }}
        run: zip -r "$TERRAFORM_DIR.zip" .

      - name: upload promotion_artifact_${{ inputs.terraform_directory_name }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        env:
          TERRAFORM_DIR: ${{ inputs.terraform_directory_name }}
        with:
          name: promotion_artifact_${{ env.TERRAFORM_DIR }}
          path: ci/terraform/${{ env.TERRAFORM_DIR }}.zip
