name: Create Shared promotion artifact

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Zip shared Terraform files
        working-directory: ci/terraform
        run: zip -r shared.zip .

      - name: upload promotion_artifact_shared.zip
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: promotion_artifact_shared.zip
          path: ci/terraform/shared.zip
