name: Create Shared promotion artifact

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Zip shared Terraform files
        working-directory: ci/terraform
        run: zip -r shared.zip .

      - name: upload promotion_artifact_shared.zip
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: promotion_artifact_shared.zip
          path: ci/terraform/shared.zip
