name: Create Shared promotion artifact

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Zip shared Terraform files
        working-directory: ci/terraform
        run: zip -r shared.zip .

      - name: upload promotion_artifact_shared.zip
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: promotion_artifact_shared.zip
          path: ci/terraform/shared.zip
