name: checkov

on:
  push:
    branches:
      - main
    paths:
      - "ci/terraform/**"
      - "template.yaml"
      - "checkov-policies/**"
  pull_request:
    branches:
      - main
    paths:
      - "ci/terraform/**"
      - "template.yaml"
      - "checkov-policies/**"
      - ".github/workflows/checkov.yml"

  workflow_dispatch:

jobs:
  scan:
    strategy:
      matrix:
        module:
          - account-management
          - delivery-receipts
          - oidc
          - shared
          - test-services
          - utils
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@7bd1adbc0a62c96c5a3a4949b4e701ac76adaf42 # v12.3056.0
        with:
          directory: ci/terraform/${{ matrix.module }}
          soft_fail: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          skip_check: CKV_OPENAPI_20,CKV_OPENAPI_4

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@2d92b76c45b91eb80fc44c74ce3fce0ee94e8f9d # v3.25.12v3
        with:
          sarif_file: results.sarif
          category: ${{ matrix.module }}

  scan-orch:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@7bd1adbc0a62c96c5a3a4949b4e701ac76adaf42 # v12.3056.0
        with:
          file: template.yaml
          framework: cloudformation
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          external_checks_dirs: checkov-policies

      - name: Upload SARIF file
        if: always()
        uses: github/codeql-action/upload-sarif@2d92b76c45b91eb80fc44c74ce3fce0ee94e8f9d # v3.25.12v3
        with:
          sarif_file: results.sarif
          category: orch-sam
