name: checkov

on:
  push:
    branches:
      - main
    paths:
      - "ci/terraform/**"
      - "template.yaml"
      - "checkov-policies/**"
  pull_request:
    branches:
      - main
    paths:
      - "ci/terraform/**"
      - "template.yaml"
      - "checkov-policies/**"
      - ".github/workflows/checkov.yml"

  workflow_dispatch:

jobs:
  scan:
    strategy:
      matrix:
        module:
          - account-management
          - delivery-receipts
          - oidc
          - shared
          - test-services
          - utils
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@c903af70b3b45a75049af3b64f5e15db11ea76de # v12.3046.0
        with:
          directory: ci/terraform/${{ matrix.module }}
          soft_fail: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          skip_check: CKV_OPENAPI_20,CKV_OPENAPI_4

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@4e828ff8d448a8a6e532957b1811f387a63867e8 # v3.25.12v3
        with:
          sarif_file: results.sarif
          category: ${{ matrix.module }}

  scan-orch:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@c903af70b3b45a75049af3b64f5e15db11ea76de # v12.3046.0
        with:
          file: template.yaml
          framework: cloudformation
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          external_checks_dirs: checkov-policies

      - name: Upload SARIF file
        if: always()
        uses: github/codeql-action/upload-sarif@4e828ff8d448a8a6e532957b1811f387a63867e8 # v3.25.12v3
        with:
          sarif_file: results.sarif
          category: orch-sam
