name: Contract test

env:
  PACT_USER: ${{ secrets.PACT_USER }}
  PACT_PASSWORD: ${{ secrets.PACT_PASSWORD }}
  PACT_URL: ${{ secrets.PACT_URL }}
  # The branch name for a pull request is in a property that only exists on pull request runs. If it doesn't exist
  # fall back to the branch name property for pushes.
  GIT_BRANCH: ${{ github.head_ref || github.ref_name }}
  GIT_SHA: ${{ github.sha }}
  CONSUMER_APP_VERSION: ${{ github.event.pull_request.head.sha }}
  PACT_BROKER_SOURCE_HEADER: ${{ secrets.PACT_BROKER_SOURCE_HEADER }}

on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
    paths:
      - ".github/workflows/contract-tests.yml"
      # Ensure these are synchronized with the paths in the check-changed-files job
      - "**/src/**"
      - "**/*.java"
      - "**/*.gradle"
      - "**/*.properties"
      - "gradle*"
      - "gradle/**"
  push:
    branches:
      - main
    paths:
      # Ensure these are synchronized with the paths in the check-changed-files job
      - "**/src/**"
      - "**/*.java"
      - "**/*.gradle"
      - "**/*.properties"
      - "gradle*"
      - "gradle/**"

jobs:
  contract-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 #v5.0.0
        with:
          java-version: "17"
          distribution: "corretto"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4
        with:
          gradle-version: wrapper
          cache-read-only: false

      - name: Run consumer contract tests
        run: ./gradlew pactConsumerTests

      - name: Upload pacts to broker
        if: github.actor != 'dependabot[bot]' && github.event_name != 'merge_group' && github.event_name != 'push'
        run: ./gradlew pactPublish

      - name: Upload pacts to broker on push to main
        if: github.actor != 'dependabot[bot]' && github.event_name == 'push'
        env:
          CONSUMER_APP_VERSION: ${{ github.sha }}
        run: ./gradlew pactPublish

      - name: Verify pacts
        if: github.actor != 'dependabot[bot]' && github.event_name == 'push'
        run: ./gradlew pactProviderTests
