name: Deploy Orchestration dev

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - ATO-955-skip-canary-test

jobs:
  deploy:
    uses: ./.github/workflows/deploy-orch.yml
    secrets:
      ORCH_GH_ACTIONS_ROLE_ARN: ${{ secrets.ORCH_DEV_GH_ACTIONS_ROLE_ARN }}
      ORCH_ARTIFACT_BUCKET_NAME: ${{ secrets.ORCH_DEV_ARTIFACT_BUCKET_NAME }}
      ORCH_SIGNING_PROFILE_NAME: ${{ secrets.ORCH_DEV_SIGNING_PROFILE_NAME }}
