name: Deploy Orchestration

env:
  AWS_REGION: eu-west-2

on:
  workflow_call:
    secrets:
      ORCH_GH_ACTIONS_ROLE_ARN:
        required: true
      ORCH_ARTIFACT_BUCKET_NAME:
        required: true
      ORCH_SIGNING_PROFILE_NAME:
        required: true
    inputs:
      use_auth_stub:
        description: "Use Auth-Stub"
        type: boolean
        default: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up SAM cli
        uses: aws-actions/setup-sam@f664fad9e12492edfc187a31f575537dfbb0ff63 # v2
        with:
          use-installer: true

      - name: Set up AWS creds
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: ${{ secrets.ORCH_GH_ACTIONS_ROLE_ARN }}
          aws-region: eu-west-2

      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 #v5.0.0
        with:
          java-version: "17"
          distribution: "corretto"
          cache: gradle

      - name: SAM build
        run: |
          ./gradlew --no-daemon --parallel :oidc:buildZip :ipv-api:buildZip :doc-checking-app-api:buildZip :client-registry-api:buildZip
          sam build --parallel --parameter-overrides ParameterKey=EnableAuthStub,ParameterValue=${{ inputs.use_auth_stub }}

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde # v3.8
        with:
          artifact-bucket-name: ${{ secrets.ORCH_ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.ORCH_SIGNING_PROFILE_NAME }}
          working-directory: .aws-sam/build
