name: TEST Deploy Orchestration dev
run-name: TEST Deploy Orch to ${{ inputs.environment }}

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to run against"
        type: choice
        required: true
        options:
          - orchdev1

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up SAM cli
        uses: aws-actions/setup-sam@c2a20b1822cc4a6bc594ff7f1dbb658758e383c3 # v2
        with:
          use-installer: true

      - name: Set up AWS creds
        uses: aws-actions/configure-aws-credentials@f24d7193d98baebaeacc7e2227925dd47cc267f5 # v4.2.0
        with:
          role-to-assume: ${{ secrets.ORCH_GH_ACTIONS_ROLE_ARN }}
          aws-region: eu-west-2

      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 #v5.2.0
        with:
          java-version: "17"
          distribution: "corretto"
          cache: gradle

      - name: SAM build
        run: |
          ./gradlew --no-daemon --parallel :oidc:buildZip :ipv-api:buildZip :doc-checking-app-api:buildZip :client-registry-api:buildZip
          sam build --parallel

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@dc8158079d3976d613515180e543930cdbe73f5f # v3.8
        with:
          artifact-bucket-name: ${{ secrets.ORCH_ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.ORCH_SIGNING_PROFILE_NAME }}
          working-directory: .aws-sam/build
