name: Deploy Orchestration build and promote

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - main
    paths-ignore:
      - "ci/cloudformation/**"
      - "ci/openAPI/**"
      - "docs/**"
      - "**/README.md"
      - "integration-tests/**"
      - "delivery-receipts-integration-tests/**"
      - "local-running/**"
      - "notifications/**"
      - "quality-gate.manifest.json"

jobs:
  deploy:
    uses: ./.github/workflows/deploy-orch.yml
    secrets:
      ORCH_GH_ACTIONS_ROLE_ARN: ${{ secrets.ORCH_GH_ACTIONS_ROLE_ARN }}
      ORCH_ARTIFACT_BUCKET_NAME: ${{ secrets.ORCH_ARTIFACT_BUCKET_NAME }}
      ORCH_SIGNING_PROFILE_NAME: ${{ secrets.ORCH_SIGNING_PROFILE_NAME }}
