name: "SP - Build and deploy Auth ext and Internal API"

on:
  push:
    branches:
      - main
    paths-ignore:
      - "ci/cloudformation/account-management/**"
      - "ci/cloudformation/stubs/**"
      - "template.yaml"
      - "ci/openAPI/**"
      - "docs/**"
      - "**/README.md"
      - "integration-tests/**"
      - "delivery-receipts-integration-tests/**"
      - "local-running/**"
      - "notifications/**"
      - "quality-gate.manifest.json"

env:
  AWS_REGION: eu-west-2
  JAVA_VERSION: 17
  JAVA_DISTRIBUTION: corretto
  RAIN_VERSION: v1.23.0
  RAIN_ARCH: linux-amd64

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up SAM cli
        uses: aws-actions/setup-sam@c2a20b1822cc4a6bc594ff7f1dbb658758e383c3 # v2
        with:
          use-installer: true

      - name: Set up AWS creds
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.GH_ACTIONS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 #v5.2.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          cache: gradle

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # v4
        with:
          gradle-version: wrapper
          cache-read-only: false

      - name: Gradle build
        run: |
          ./gradlew --no-daemon --parallel :auth-external-api:buildZip :frontend-api:buildZip :ipv-api:buildZip

      - name: Install Rain
        env:
          VERSION: ${{ env.RAIN_VERSION }}
          ARCH: ${{ env.RAIN_ARCH }}
        run: |
          wget -q "https://github.com/aws-cloudformation/rain/releases/download/${VERSION}/rain-${VERSION}_${ARCH}.zip"
          unzip "rain-${VERSION}_${ARCH}.zip"
          chmod +x "rain-${VERSION}_${ARCH}/rain"
          mv "rain-${VERSION}_${ARCH}/rain" /usr/local/bin/rain

      - name: Generate auth template
        run: "./scripts/merge-templates.sh"
        env:
          TEMPLATE_SOURCE_DIR: ci/cloudformation/auth
          TEMPLATE_FILE: auth-template.yaml

      - name: SAM build
        run: |
          sam validate --lint -t auth-template.yaml
          sam build --parallel -t auth-template.yaml

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@fda75612a1b0e5a8c84ae7c44a23340e50e5bbde # v3.11.0
        with:
          artifact-bucket-name: ${{ secrets.ARTIFACT_SOURCE_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
          working-directory: .aws-sam/build
