name: Pre-merge checks for Terraform
on:
  pull_request:
    paths: ["ci/terraform/**"]
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize

jobs:
  terraform-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Get Terraform version
        id: getterraformversion
        run: echo "::set-output name=version::$(cat ci/terraform/.terraform-version)"

      - uses: hashicorp/setup-terraform@651471c36a6092792c552e8b1bef71e592b462d8 # v3.1.1
        with:
          terraform_version: ${{ steps.getterraformversion.outputs.version }}

      - name: Terraform Format Check
        working-directory: ci/terraform/
        run: terraform fmt -check -recursive

      - name: Terraform Validate (account-management)
        working-directory: ci/terraform/account-management
        run: |
          terraform init -input=false -backend=false
          terraform validate

      - name: Terraform Validate (oidc)
        working-directory: ci/terraform/oidc
        run: |
          terraform init -input=false -backend=false
          terraform validate

      - name: Terraform Validate (utils)
        working-directory: ci/terraform/utils
        run: |
          terraform init -input=false -backend=false
          terraform validate
