name: Pre-merge checks for Shell Scripts
on:
  pull_request:
    paths: ["**/*.sh"]
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38
        with:
          ignore_paths: >-
            ./gradlew
            ./pre-commit.sh
