name: Pre-merge checks for Terraform
on:
  workflow_call:
  pull_request:
    paths: ["ci/terraform/**"]
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize

jobs:
  terraform-fmt:
    name: Terraform fmt
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2

      - name: Terraform Format Check
        working-directory: ci/terraform/
        run: terraform fmt -check -recursive

  terraform-validate:
    name: Terraform Validate
    uses: ./.github/workflows/call_terraform_validate.yml
