name: "SP - Pre-merge checks for SAM API modules"

on:
  pull_request:
    paths:
      - "ci/cloudformation/auth/**"
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize

env:
  AWS_REGION: eu-west-2
  RAIN_VERSION: v1.23.0
  RAIN_ARCH: linux-amd64

jobs:
  sam-validate:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up SAM cli
        uses: aws-actions/setup-sam@c2a20b1822cc4a6bc594ff7f1dbb658758e383c3 # v2
        with:
          use-installer: true

      - name: Set up AWS creds
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.GH_ACTIONS_VALIDATE_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Install Rain
        env:
          VERSION: ${{ env.RAIN_VERSION }}
          ARCH: ${{ env.RAIN_ARCH }}
        run: |
          wget -q "https://github.com/aws-cloudformation/rain/releases/download/${VERSION}/rain-${VERSION}_${ARCH}.zip"
          unzip "rain-${VERSION}_${ARCH}.zip"
          chmod +x "rain-${VERSION}_${ARCH}/rain"
          mv "rain-${VERSION}_${ARCH}/rain" /usr/local/bin/rain

      - name: Generate auth template
        run: "./scripts/merge-templates.sh"
        env:
          TEMPLATE_SOURCE_DIR: ci/cloudformation/auth
          TEMPLATE_FILE: auth-template.yaml

      - name: SAM Validate
        run: |
          sam validate --lint -t auth-template.yaml
